.clear {
    clear: both;
}

.main_container {
    width: 1439px;
    height: 950px;
    margin: 0 auto;
    padding: 43px 0px 0px 77px;
}

.header {
    height: 46px;
}

.header .logo {
    float: left;
    width: 58px;
    height: 46px;
    font-family: 'Crete Round', serif;
    font-size: 34px;
    color: #060c31;
    cursor: pointer;
}

.header .top {
    float: left;
    height: 46px;
    width: 615px;
    position: relative;
    margin-left: 601px;
}

.menu {
    height: 46px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: -5px;
}

.menu_item {
    display: inline;
    list-style: none;
}

.menu_link {
    text-decoration: none;
    padding: 0 36px 0px 0px;
    width: 46px;
    height: 12px;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    line-height: 4.92;
    color: #060c31;
}


.top_button {
    float: right;
}

.promo {
    position: relative;
    width: 1241px;
    height: 600px;
    margin-top: 68px;
    margin-left: 113px;

}

.promo_info {
    position: relative;
    width: 441px;
    height: 426px;
    margin-top: 105px;
    float: left;

}

.promo_title {
    position: relative;
    width: 447px;
    height: 186px;
    font-family: 'Crete Round', sans-serif;
    font-size: 58px;
    color: #060c31;
    margin-top: -7px;
    font-weight: normal;
    line-height: 1.1;
}

.promo_text {
    margin-top: 43px;
    width: 381px;
    height: 71px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.87;
    color: #060c31;
}

.promo_button_start {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: 70px 18px 0 0;
    width: 152px;
    height: 50px;
    border-radius: 25px;
    background-color: #233fe2;
    cursor: pointer;
    border: none;
}

.promo_button_create {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #ffb0b1;
    background-color: #fff;
    cursor: pointer;
    color: #060c31;
}

.top_button .create {
    font-family: 'Lato', sans-serif;
    width: 150px;
    height: 46px;
    font-weight: bold;
    border-radius: 23px;
    border: solid 2px #ffb0b1;
    background-color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.promo_image {
    float:left;
    padding: 32px 0px 0px 53px;
}

.footer {
    float:left;
    margin:96px 86px 0px 425px;
    width:964px;
}

.footer .partners .partner {
    display: inline-block;
    list-style: none;
    vertical-align:middle;
    margin-right:104px;
}
